In [1]:
import pandas as pd

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df = pd.read_csv('online_retail.csv', index_col=0)
df.head()

  InvoiceNo StockCode                          Description  Quantity          InvoiceDate  UnitPrice  CustomerID         Country
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1    536365     71053                  WHITE METAL LANTERN         6  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6  2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [4]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [5]:
# Dropping negative quantity, they are returns.
df = df[df['Quantity']>0]

In [6]:
# dropping negative unit price, they are 'Adjust bad debt'
df = df[df['UnitPrice']>0]

In [7]:
df.head()

  InvoiceNo StockCode                          Description  Quantity          InvoiceDate  UnitPrice  CustomerID         Country
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1    536365     71053                  WHITE METAL LANTERN         6  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6  2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [9]:
basket = (df[df['Country'] =="France"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

In [10]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)
basket_sets.drop('POSTAGE', inplace=True, axis=1)

In [16]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)

frequent_itemsets.head()

    support                         itemsets
0  0.071429    (4 TRADITIONAL SPINNING TOPS)
1  0.096939     (ALARM CLOCK BAKELIKE GREEN)
2  0.102041      (ALARM CLOCK BAKELIKE PINK)
3  0.094388      (ALARM CLOCK BAKELIKE RED )
4  0.081633  (BAKING SET 9 PIECE RETROSPOT )

In [17]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

rules.head()

                    antecedents                   consequents  antecedent support  consequent support   support  confidence      lift  leverage  conviction
0   (ALARM CLOCK BAKELIKE PINK)  (ALARM CLOCK BAKELIKE GREEN)            0.102041            0.096939  0.073980    0.725000  7.478947  0.064088    3.283859
1  (ALARM CLOCK BAKELIKE GREEN)   (ALARM CLOCK BAKELIKE PINK)            0.096939            0.102041  0.073980    0.763158  7.478947  0.064088    3.791383
2  (ALARM CLOCK BAKELIKE GREEN)   (ALARM CLOCK BAKELIKE RED )            0.096939            0.094388  0.079082    0.815789  8.642959  0.069932    4.916181
3   (ALARM CLOCK BAKELIKE RED )  (ALARM CLOCK BAKELIKE GREEN)            0.094388            0.096939  0.079082    0.837838  8.642959  0.069932    5.568878
4   (ALARM CLOCK BAKELIKE PINK)   (ALARM CLOCK BAKELIKE RED )            0.102041            0.094388  0.073980    0.725000  7.681081  0.064348    3.293135

In [18]:
rules[ (rules['confidence'] >= 0.75) ]

                                          antecedents                                        consequents  antecedent support  consequent support   support  confidence      lift  leverage  conviction
1                        (ALARM CLOCK BAKELIKE GREEN)                        (ALARM CLOCK BAKELIKE PINK)            0.096939            0.102041  0.073980    0.763158  7.478947  0.064088    3.791383
2                        (ALARM CLOCK BAKELIKE GREEN)                        (ALARM CLOCK BAKELIKE RED )            0.096939            0.094388  0.079082    0.815789  8.642959  0.069932    4.916181
3                         (ALARM CLOCK BAKELIKE RED )                       (ALARM CLOCK BAKELIKE GREEN)            0.094388            0.096939  0.079082    0.837838  8.642959  0.069932    5.568878
5                         (ALARM CLOCK BAKELIKE RED )                        (ALARM CLOCK BAKELIKE PINK)            0.094388            0.102041  0.073980    0.783784  7.681081  0.064348    4.153061
12                         (PLASTERS IN TIN SPACEBOY)                 (PLASTERS IN TIN WOODLAND ANIMALS)            0.137755            0.170918  0.104592    0.759259  4.442233  0.081047    3.443878
14              (SET/20 RED RETROSPOT PAPER NAPKINS )                      (SET/6 RED SPOTTY PAPER CUPS)            0.132653            0.137755  0.102041    0.769231  5.584046  0.083767    3.736395
16                    (SET/6 RED SPOTTY PAPER PLATES)              (SET/20 RED RETROSPOT PAPER NAPKINS )            0.127551            0.132653  0.102041    0.800000  6.030769  0.085121    4.336735
17              (SET/20 RED RETROSPOT PAPER NAPKINS )                    (SET/6 RED SPOTTY PAPER PLATES)            0.132653            0.127551  0.102041    0.769231  6.030769  0.085121    3.780612
18                    (SET/6 RED SPOTTY PAPER PLATES)                      (SET/6 RED SPOTTY PAPER CUPS)            0.127551            0.137755  0.122449    0.960000  6.968889  0.104878   21.556122
19                      (SET/6 RED SPOTTY PAPER CUPS)                    (SET/6 RED SPOTTY PAPER PLATES)            0.137755            0.127551  0.122449    0.888889  6.968889  0.104878    7.852041
20  (SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...                      (SET/6 RED SPOTTY PAPER CUPS)            0.102041            0.137755  0.099490    0.975000  7.077778  0.085433   34.489796
21  (SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT...              (SET/20 RED RETROSPOT PAPER NAPKINS )            0.122449            0.132653  0.099490    0.812500  6.125000  0.083247    4.625850
22  (SET/20 RED RETROSPOT PAPER NAPKINS , SET/6 RE...                    (SET/6 RED SPOTTY PAPER PLATES)            0.102041            0.127551  0.099490    0.975000  7.644000  0.086474   34.897959
23                    (SET/6 RED SPOTTY PAPER PLATES)  (SET/20 RED RETROSPOT PAPER NAPKINS , SET/6 RE...            0.127551            0.102041  0.099490    0.780000  7.644000  0.086474    4.081633
24              (SET/20 RED RETROSPOT PAPER NAPKINS )  (SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT...            0.132653            0.122449  0.099490    0.750000  6.125000  0.083247    3.510204